<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	<div class="container-fluid">
		<img src="assets/favicon/apple-icon-57x57.png" alt="twbs" class="rounded-circle flex-shrink-0 m-1">
		<a class="navbar-brand" [routerLink]="'.'">Marco Izaguirre</a>

		<!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<!-- Step 2: Add the ngbCollapse directive to the element below. -->
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<!-- Step 4: Close the menu when a link is clicked. -->
					<a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true">Home</a>
				</li>

				<li class="nav-item active">
					<!-- Step 4: Close the menu when a link is clicked. -->
					<a class="nav-link" routerLink="/publicaciones" (click)="isMenuCollapsed = true">Blog Posts</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Examples</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">About</a>
				</li> -->
			</ul>
		</div>
	</div>
</nav>
<!-- <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">
  <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
    <a ngbNavLink [routerLink]="link.route" [fragment]="link.fragment">{{ link.title }}</a>
  </li>
</ul> -->
<div class="container">
	<div class="row">
		<div class="col-12 col-md-8 col-lg-8">
			<router-outlet></router-outlet>
		</div>
		<div class="col-12 col-md-4 col-lg-4 container p-3">

			<div class="btn-group mb-3" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-light">
					<a href="https://github.com/toniorocks" target="_blank">
						<img src="assets/github-logo-git-hub-icon-with-text-on-black_17119660-57x57.png" alt="twbs"
							class="rounded-circle flex-shrink-0" width="32" height="32">
					</a>
				</button>
				<button type="button" class="btn btn-light">
					<a href="https://twitter.com/TonioRocks?ref_src=twsrc%5Etfw">
						<img src="https://storage.cloud.google.com/mi-blog-static/734367_media_online_social_twitter_icon.svg"
							alt="twbs" class="rounded-circle flex-shrink-0" width="32" height="32">
					</a>
				</button>
				<button type="button" class="btn btn-light">
					<a href="https://www.linkedin.com/in/marco-izaguirre/" target="_blank">
						<img src="https://storage.cloud.google.com/mi-blog-static/8726150_linkedin_icon.svg" alt="twbs"
							class="rounded-circle flex-shrink-0" width="32" height="32">
					</a>
				</button>
			</div>

			<!-- <div class="card my-3 bg-dark">
				<div class="card-body">
					<a href="https://github.com/toniorocks" target="_blank"
						class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
						<img src="assets/github-logo-git-hub-icon-with-text-on-black_17119660-57x57.png" alt="twbs"
							class="rounded-circle flex-shrink-0" width="32" height="32">
						<div class="d-flex gap-2 w-100 justify-content-between">
							<div class="text-light">
								<h6 class="mb-0">Github Profile</h6>
								<p class="mb-0 opacity-75">@Toniorocks</p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="card my-3 bg-secondary">
				<div class="card-body">
					<a href="https://twitter.com/TonioRocks?ref_src=twsrc%5Etfw" target="_blank"
						class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
						
						<div class="d-flex gap-2 w-100 justify-content-between">
							<div class="text-light">
								<h6 class="mb-0">X</h6>
								<p class="mb-0 opacity-75">@Toniorocks</p>
							</div>
						</div>
					</a>
				</div>
			</div> -->

			<h4>Blog Posts</h4>
			<div class="list-group mt-1 mb-2">
				<span *ngFor="let item of lastPosts">
					<a href="#" [routerLink]="['/publicacion', item.id]"
						class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
						<img src="assets/favicon/apple-icon-57x57.png" alt="twbs" class="rounded-circle flex-shrink-0"
							width="32" height="32">
						<div class="d-flex gap-2 w-100 justify-content-between">
							<div>
								<h6 class="mb-0">{{ item.title }}</h6>
								<p class="mb-0 opacity-75">{{ getFirstWords(item?.content) }} ...</p>
							</div>
							<small calculateDateDifference [date]="item.updated">Loading</small>
						</div>
					</a>
				</span>
			</div>

			<a routerLink="/publicaciones" class="btn btn-secondary btn-sm my-2 float-end">See more</a>

			<a class="twitter-timeline" href="https://twitter.com/TonioRocks?ref_src=twsrc%5Etfw">Tweets by
				TonioRocks</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

		</div>
	</div>
</div>

<!-- <footer class="bg-secondary">
	<menu>
		<li><a class="nav-link text-light" [routerLink]="'/privacidad'" (click)="isMenuCollapsed = true">Política de privacidad</a></li>
		<li><a class="nav-link text-light" [routerLink]="'/condiciones'" (click)="isMenuCollapsed = true">Condiciones de uso</a></li>
	</menu>
</footer> -->

<!-- Remove the container if you want to extend the Footer to full width. -->


<footer class="bg-dark">
	<div class="container p-4 text-light">
		<div class="row">
			<div class="col-lg-6 col-md-12 mb-4">
				<h5 class="mb-3">contact</h5>
				<p>
					Custom software development in the cloud, user interface design, user experience design, specialist in web applications.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="mb-3">links</h5>
				<ul class="list-unstyled mb-0">
					<li class="mb-1">
						<a routerLink="/">Home</a>
					</li>
					<li class="mb-1">
						<a routerLink="/publicaciones">Blog Posts</a>
					</li>
					<!-- <li class="mb-1">
						<a routerLink="/visitas">Libro de visitas</a>
					</li> -->
					<!-- <li>
						<a routerLink="/">Where we deliver?</a>
					</li> -->
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="mb-1">opening hours</h5>
				<table class="table text-light">
					<tbody>
						<tr>
							<td>Mon - Fri:</td>
							<td>8am - 9pm</td>
						</tr>
						<tr>
							<td>Sat - Sun:</td>
							<td>8am - 1am</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="text-center p-3 bg-secondary">
		© {{ currentYear }} Copyright:
		<a class="text-dark" href="mailto:marco.izaguirre@live.com">Marco Izaguirre</a>
	</div>
	<!-- Copyright -->
</footer>

<app-loading-overlay></app-loading-overlay>

<!-- End of .container -->