<img src="assets/logo.png" class="img-fluid" alt="Responsive image">
<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left">
    <li [ngbNavItem]="1">
        <a ngbNavLink>
            <span class="material-symbols-outlined">home</span>
            Inicio
        </a>
        <ng-template ngbNavContent>
            <article class="container mb-5">

                <p>Experienced Senior Software Engineer with 10 years of experience in design, development and operation of systems and workflow applications, featuring JavaScript, Java, PHP, TypeScript, SQL, NoSQL and AWS cloud services.</p>

                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">

                    <p>Skilled at designing mockups with creative tools like Adobe Illustrator, Adobe XD, Microsoft Visio and Pencil.</p>
                    <p>Proven experience at driving efficient solutions applying good practices and design patterns.</p>
                    <p>Outstanding team player with a positive attitude to champion delivery of results on time and within budget, having the ability to communicate clearly and effectively when discussing issues with team members and management.</p>

                </div>
                <button class="btn btn-sm btn-primary" (click)="isCollapsed = !isCollapsed">
                    <span *ngIf="isCollapsed" class="material-symbols-outlined">add</span>
                    <span *ngIf="!isCollapsed" class="material-symbols-outlined">remove</span>
                    Mostrar
                    <span *ngIf="isCollapsed">más</span>
                    <span *ngIf="!isCollapsed">menos</span>
                </button>
            </article>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>
            <span class="material-symbols-outlined">star</span>
            Habilidades
        </a>
        <ng-template ngbNavContent>
            <article class="container mb-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3 px-5" *ngFor="let skill of skills;">
                            <div class="row">
                                <div class="col-10">
                                    <h5>{{ skill.skillName }} : {{skill.skillPorcentage}}%</h5>
                                    <div class="progress mb-3">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar" attr.aria-valuenow="{{skill.skillPorcentage}}"
                                            aria-valuemin="0" aria-valuemax="100"
                                            [style.width.%]="skill.skillPorcentage">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-sm btn-light"
                                        (click)="skill.isCollapsed = !skill.isCollapsed"><span
                                            class="material-symbols-outlined">add</span></button>
                                </div>
                            </div>

                            <small *ngIf="!skill.isCollapsed">
                                {{skill.skillDescription}}
                            </small>
                        </li>

                    </ul>

                </div>
            </article>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink>
            <span class="material-symbols-outlined">workspace_premium</span>
            Certificaciones</a>
        <ng-template ngbNavContent>
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-4" *ngFor="let cert of certifications;">
                        <div class="card my-2 cert-card">
                            <img src="assets/{{cert.certImage}}" class="rounded card-img-top" alt="Certification Logo">
                            <div class="card-body">
                                <h5 class="card-title">{{cert.certName}}</h5>
                                <p class="card-text">{{cert.certInstitution}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>