<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left mt-3">
    <li [ngbNavItem]="1">
        <a ngbNavLink>
            <span class="material-symbols-outlined">home</span>
            Home
        </a>
        <ng-template ngbNavContent>
            <article class="container mb-1 p-2">
                <p><img src="https://storage.cloud.google.com/mi-blog-static/marquitochin-avatar.webp" alt="twbs"
                        class="rounded-circle flex-shrink-0 mx-2 float-start" width="75">
                    Experienced Senior Software Engineer with 11 years of experience in design, development and
                    operation
                    of systems and workflow applications, featuring JavaScript, Java, PHP, TypeScript, SQL, NoSQL and
                    AWS cloud services.</p>

                <p>Skilled at designing mockups with creative tools like Adobe Illustrator, Adobe XD, Microsoft
                    Visio and Pencil.</p>
                <p>Proven experience at driving efficient solutions applying good practices and design patterns.</p>
                <p>Outstanding team player with a positive attitude to champion delivery of results on time and
                    within budget, having the ability to communicate clearly and effectively when discussing issues
                    with team members and management.</p>

                <p>Strong analytical and problem-solving skills, with the ability to quickly learn new technologies and
                    apply them to business needs.</p>

                <p>Passionate about technology and innovation, always looking for new challenges and opportunities to
                    learn and grow.</p>

            </article>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>
            <span class="material-symbols-outlined">star</span>
            Skills
        </a>
        <ng-template ngbNavContent>
            <article class="container mb-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3 px-5" *ngFor="let skill of skills;">
                            <div class="row">
                                <div class="col-10">
                                    <h5>{{ skill.skillName }} : {{skill.skillPorcentage}}%</h5>
                                    <div class="progress mb-3">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar" attr.aria-valuenow="{{skill.skillPorcentage}}"
                                            aria-valuemin="0" aria-valuemax="100"
                                            [style.width.%]="skill.skillPorcentage">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-sm btn-light"
                                        (click)="skill.isCollapsed = !skill.isCollapsed"><span
                                            class="material-symbols-outlined">add</span></button>
                                </div>
                            </div>

                            <small *ngIf="!skill.isCollapsed">
                                {{skill.skillDescription}}
                            </small>
                        </li>

                    </ul>

                </div>
            </article>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink>
            <span class="material-symbols-outlined">workspace_premium</span>Certifications</a>

        

        <ng-template ngbNavContent>
            <div class="container my-5">
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let cert of certifications;">
                        <div class="ms-2 me-auto">
                            <img src="assets/{{cert.certImage}}" class="rounded" alt="Certification Logo" width="50px" height="50px">
                            <div class="fw-bold">{{cert.certName}}</div>
                            {{cert.certInstitution}}
                        </div>
                        <span class="badge bg-primary rounded-pill">{{cert.certYear}}</span>
                    </li>
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Content for list item
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Content for list item
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li> -->
                </ol>
            </div>

        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<!-- <div class="container mb-5">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://storage.cloud.google.com/mi-blog-static/hacker-complete.webp" width="100%"
                    alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://storage.cloud.google.com/mi-blog-static/system-engineer.webp" width="100%"
                    alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div> -->